body{
    margin: 0;
    padding: 0;
    background-color: #efefef;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
header{
    padding: 5px;
    background-color: lightblue;
}
h1{
    font-size: 1.8rem;
}
h2{
    font-size: 1.5rem;
}
main{
    padding: 10px;
}
footer{
    font-size: 0.85rem;
    padding: 5px;
}
.views{
    margin: 5px;
    background-color: white;
}
.error{
    color: red;
}